# This is a basic workflow to help you get started with Actions

name: Publish Python Package to PyPI

on:
  # This action runs *only* when you create a new release
  release:
    types: [created]

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: pypi  # This environment is used for trusted publishing

    # This permission is ESSENTIAL for trusted publishing
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: python -m build

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@v1
      # No API token or password needed!